# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
@EXPLICIT
https://repo.anaconda.com/pkgs/main/linux-64/_libgcc_mutex-0.1-main.conda
https://conda.anaconda.org/conda-forge/noarch/_r-mutex-1.0.1-anacondar_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/ca-certificates-2019.11.28-hecc5488_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libgfortran-3.0.0-1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libgfortran-ng-7.3.0-hdf63c60_5.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/libstdcxx-ng-9.1.0-hdf63c60_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/libgcc-ng-9.1.0-hdf63c60_0.conda
https://conda.anaconda.org/conda-forge/linux-64/bzip2-1.0.8-h516909a_2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/graphite2-1.3.13-hf484d3e_1000.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/gsl-2.2.1-h0c605f7_3.conda
https://conda.anaconda.org/conda-forge/linux-64/icu-58.2-hf484d3e_1000.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/jpeg-9c-h14c3975_1001.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/libffi-3.2.1-hd88cf55_4.conda
https://conda.anaconda.org/conda-forge/linux-64/libiconv-1.15-h516909a_1005.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libopenblas-0.3.7-h5ec1e0e_6.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libuuid-2.32.1-h14c3975_1000.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/lz4-c-1.8.3-he1b5a44_1001.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/make-4.3-h516909a_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/ncurses-6.1-he6710b0_1.conda
https://conda.anaconda.org/conda-forge/linux-64/openssl-1.1.1d-h516909a_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pcre-8.44-he1b5a44_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/perl-5.26.2-h516909a_1006.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pixman-0.34.0-h14c3975_1003.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pthread-stubs-0.4-h14c3975_1001.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/xorg-kbproto-1.0.7-h14c3975_1002.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/xorg-libice-1.0.10-h516909a_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/xorg-libxau-1.0.9-h14c3975_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/xorg-libxdmcp-1.1.3-h516909a_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/xorg-renderproto-0.11.1-h14c3975_1002.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/xorg-xextproto-7.3.0-h14c3975_1002.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/xorg-xproto-7.0.31-h14c3975_1007.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/xz-5.2.4-h14c3975_1001.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/yaml-0.1.7-had09818_2.conda
https://repo.anaconda.com/pkgs/main/linux-64/zlib-1.2.11-h7b6447c_3.conda
https://conda.anaconda.org/conda-forge/linux-64/gettext-0.19.8.1-hc5be6a0_1002.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libblas-3.8.0-14_openblas.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/libedit-3.1.20181209-hc058e9b_0.conda
https://conda.anaconda.org/conda-forge/linux-64/libpng-1.6.37-hed695b0_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libssh2-1.8.2-h22169c7_2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libxcb-1.13-h14c3975_1002.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libxml2-2.9.9-h13577e0_2.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/readline-7.0-h7b6447c_5.conda
https://repo.anaconda.com/pkgs/main/linux-64/tk-8.6.8-hbc83047_0.conda
https://conda.anaconda.org/conda-forge/linux-64/xorg-libsm-1.2.3-h84519dc_1000.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/zstd-1.4.4-h3b9ef0a_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/bwidget-1.9.14-0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/freetype-2.10.0-he983fc9_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/glib-2.56.2-had28632_1001.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/krb5-1.16.4-h173b8e3_0.conda
https://conda.anaconda.org/conda-forge/linux-64/libcblas-3.8.0-14_openblas.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/liblapack-3.8.0-14_openblas.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libtiff-4.1.0-hc3755c2_3.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/sqlite-3.30.0-h7b6447c_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/tktable-2.10-h14c3975_0.conda
https://conda.anaconda.org/conda-forge/linux-64/xorg-libx11-1.6.9-h516909a_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/fontconfig-2.13.1-he4413a7_1000.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libcurl-7.68.0-hda55be3_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/python-2.7.16-h9bab390_7.conda
https://conda.anaconda.org/conda-forge/linux-64/xorg-libxext-1.3.4-h516909a_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/xorg-libxrender-0.9.10-h516909a_1002.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/asn1crypto-1.0.1-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/cairo-1.14.12-h80bd089_1005.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/certifi-2019.11.28-py27_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/chardet-3.0.4-py27_1003.conda
https://conda.anaconda.org/conda-forge/linux-64/curl-7.68.0-hf8cf82a_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/enum34-1.1.6-py27_1.conda
https://repo.anaconda.com/pkgs/main/linux-64/futures-3.3.0-py27_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/idna-2.8-py27_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/ipaddress-1.0.22-py27_0.conda
https://conda.anaconda.org/conda-forge/linux-64/numpy-1.16.5-py27h95a1406_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/pycosat-0.6.3-py27h14c3975_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/pycparser-2.19-py27_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/pysocks-1.7.1-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pytz-2019.3-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/ruamel_yaml-0.15.46-py27h14c3975_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/six-1.12.0-py27_0.conda
https://repo.anaconda.com/pkgs/main/noarch/tqdm-4.36.1-py_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/cffi-1.12.3-py27h2e261b9_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/conda-package-handling-1.6.0-py27h7b6447c_0.conda
https://conda.anaconda.org/conda-forge/linux-64/harfbuzz-1.9.0-he243708_1001.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/python-dateutil-2.8.1-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/setuptools-41.4.0-py27_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/cryptography-2.7-py27h1ba5d50_0.conda
https://conda.anaconda.org/conda-forge/linux-64/pandas-0.24.2-py27hb3f55d8_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pango-1.40.14-hf0c64fd_1003.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/wheel-0.33.6-py27_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/pip-19.2.3-py27_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/pyopenssl-19.0.0-py27_0.conda
https://conda.anaconda.org/conda-forge/linux-64/r-base-3.5.1-h391c2eb_4.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/bioconductor-biocgenerics-0.26.0-r351_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/bioconductor-biocinstaller-1.30.0-r351_0.tar.bz2
https://conda.anaconda.org/bioconda/noarch/bioconductor-genomeinfodbdata-1.2.1-r351_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/bioconductor-zlibbioc-1.26.0-r351h470a237_0.tar.bz2
https://conda.anaconda.org/r/linux-64/r-assertthat-0.2.0-r351h6115d3f_0.tar.bz2
https://conda.anaconda.org/r/linux-64/r-bh-1.66.0_1-r351h6115d3f_0.tar.bz2
https://conda.anaconda.org/r/linux-64/r-bit-1.1_14-r351hd10c6a6_0.tar.bz2
https://conda.anaconda.org/r/linux-64/r-bitops-1.0_6-r351h96ca727_4.tar.bz2
https://conda.anaconda.org/r/linux-64/r-boot-1.3_20-r351hf348343_0.tar.bz2
https://conda.anaconda.org/r/linux-64/r-cluster-2.0.7_1-r351hac1494b_0.tar.bz2
https://conda.anaconda.org/r/linux-64/r-codetools-0.2_15-r351h6115d3f_0.tar.bz2
https://conda.anaconda.org/r/linux-64/r-dbi-1.0.0-r351h6115d3f_0.tar.bz2
https://conda.anaconda.org/r/linux-64/r-digest-0.6.15-r351h96ca727_0.tar.bz2
https://conda.anaconda.org/r/linux-64/r-findpython-1.0.3-r351h6115d3f_0.tar.bz2
https://conda.anaconda.org/r/linux-64/r-foreign-0.8_71-r351h96ca727_0.tar.bz2
https://conda.anaconda.org/r/linux-64/r-formatr-1.5-r351h6115d3f_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/r-futile.options-1.0.1-r35h6115d3f_1001.tar.bz2
https://conda.anaconda.org/r/linux-64/r-getopt-1.20.2-r351h6115d3f_0.tar.bz2
https://conda.anaconda.org/r/linux-64/r-iterators-1.0.10-r351h6115d3f_0.tar.bz2
https://conda.anaconda.org/r/linux-64/r-jsonlite-1.5-r351h96ca727_0.tar.bz2
https://conda.anaconda.org/r/linux-64/r-kernsmooth-2.23_15-r351hac1494b_4.tar.bz2
https://conda.anaconda.org/r/linux-64/r-lattice-0.20_35-r351h96ca727_0.tar.bz2
https://conda.anaconda.org/r/linux-64/r-magrittr-1.5-r351h6115d3f_4.tar.bz2
https://conda.anaconda.org/r/linux-64/r-mass-7.3_50-r351h96ca727_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/r-matrixstats-0.55.0-r35hcdcec82_0.tar.bz2
https://conda.anaconda.org/r/linux-64/r-nnet-7.3_12-r351h96ca727_0.tar.bz2
https://conda.anaconda.org/r/linux-64/r-pkgconfig-2.0.1-r351h6115d3f_0.tar.bz2
https://conda.anaconda.org/r/linux-64/r-plogr-0.2.0-r351h6115d3f_0.tar.bz2
https://conda.anaconda.org/r/linux-64/r-proto-1.0.0-r351h6115d3f_0.tar.bz2
https://conda.anaconda.org/r/linux-64/r-rcolorbrewer-1.1_2-r351h6115d3f_0.tar.bz2
https://conda.anaconda.org/r/linux-64/r-rcpp-0.12.18-r351h29659fb_0.tar.bz2
https://conda.anaconda.org/r/linux-64/r-rpart-4.1_13-r351hd10c6a6_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/r-snow-0.4_3-r35h6115d3f_1001.tar.bz2
https://conda.anaconda.org/r/linux-64/r-spatial-7.3_11-r351hd10c6a6_4.tar.bz2
https://conda.anaconda.org/r/linux-64/r-xml-3.98_1.12-r351h96ca727_0.tar.bz2
https://conda.anaconda.org/r/linux-64/r-xtable-1.8_2-r351h6115d3f_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/urllib3-1.24.2-py27_0.conda
https://conda.anaconda.org/bioconda/linux-64/bioconductor-affyio-1.50.0-r351h470a237_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/bioconductor-biobase-2.40.0-r351ha44fe06_1.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/bioconductor-s4vectors-0.18.3-r351h470a237_0.tar.bz2
https://conda.anaconda.org/r/linux-64/r-argparse-1.1.1-r351h6115d3f_0.tar.bz2
https://conda.anaconda.org/r/linux-64/r-bit64-0.9_7-r351hd10c6a6_0.tar.bz2
https://conda.anaconda.org/r/linux-64/r-class-7.3_14-r351hd10c6a6_4.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/r-ff-2.2_14-r35he1b5a44_1.tar.bz2
https://conda.anaconda.org/r/linux-64/r-foreach-1.4.4-r351h6115d3f_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/r-lambda.r-1.2.4-r35h6115d3f_0.tar.bz2
https://conda.anaconda.org/r/linux-64/r-matrix-1.2_14-r351h96ca727_0.tar.bz2
https://conda.anaconda.org/r/linux-64/r-memoise-1.1.0-r351h6115d3f_0.tar.bz2
https://conda.anaconda.org/r/linux-64/r-nlme-3.1_137-r351ha65eedd_0.tar.bz2
https://conda.anaconda.org/r/linux-64/r-prettyunits-1.0.2-r351hf348343_0.tar.bz2
https://conda.anaconda.org/r/linux-64/r-rcurl-1.95_4.11-r351h96ca727_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/requests-2.22.0-py27_0.conda
https://conda.anaconda.org/bioconda/linux-64/bioconductor-iranges-2.14.12-r351h470a237_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/conda-4.8.2-py27_0.tar.bz2
https://conda.anaconda.org/r/linux-64/r-blob-1.1.1-r351hf348343_0.tar.bz2
https://conda.anaconda.org/r/linux-64/r-domc-1.3.5-r351h6115d3f_4.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/r-futile.logger-1.4.3-r35h6115d3f_1002.tar.bz2
https://conda.anaconda.org/r/linux-64/r-mgcv-1.8_24-r351h96ca727_0.tar.bz2
https://conda.anaconda.org/r/linux-64/r-survival-2.42_6-r351h96ca727_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/bioconductor-biocparallel-1.14.2-r351h26a2512_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/bioconductor-genomeinfodb-1.16.0-r351_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/bioconductor-xvector-0.20.0-r351h470a237_0.tar.bz2
https://conda.anaconda.org/r/linux-64/r-recommended-3.5.1-r351_0.tar.bz2
https://conda.anaconda.org/r/linux-64/r-rsqlite-2.1.1-r351h29659fb_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/bioconductor-annotationdbi-1.42.1-r351_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/bioconductor-biostrings-2.48.0-r351h470a237_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/bioconductor-delayedarray-0.6.6-r351_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/bioconductor-genomicranges-1.32.7-r351h470a237_0.tar.bz2
https://conda.anaconda.org/r/linux-64/r-3.5.1-r351_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/bioconductor-annotate-1.58.0-r351_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/bioconductor-rsamtools-1.32.3-r351hfc679d8_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/bioconductor-summarizedexperiment-1.10.1-r351_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/bioconductor-geneplotter-1.58.0-r351_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/bioconductor-oligoclasses-1.42.0-r351_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/bioconductor-hmmcopy-1.22.0-r351h470a237_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/bioconductor-snpchip-2.26.0-r351_0.tar.bz2
https://conda.anaconda.org/shahcompbio/linux-64/bioconductor-titan-1.10.0-pl526r36_2.tar.bz2
